@import '../../scss/main';

.menu-card {
    background-color: $color-lightergrey;
    border-radius: $unit-base;

    .content {
        padding: $unit-8;

        svg {
            margin-left: auto;
            margin-right: auto;
            display: block;
            font-size: $unit-24;
            margin-bottom: $unit-base;

            path {
                color: $color-darkgrey;
            }
        }

        p {
            margin: 0;
            font-size: $unit-12;
            font-weight: 700;
            color: $color-darkgrey;
        }
    }

    .selected {
        svg {
            path {
                color: $color-blue;
            }
        }
    
        p {
            color: $color-blue;
        }
    }
}