// Main color theme
$color-dark: #00010D;
$color-darkblue: #024059;
$color-blue: #025E73;
$color-lightblue: #6099A6;
$color-darkgrey: #969C9C;
$color-grey: #BDC1C1;
$color-lightgrey: #D7D9D9;
$color-lightergrey: #F2F3F3;
$color-white: #FFFFFF;
$color-green:  #00E600;